.gridContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 16px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 0px;

  p {
    color: black;
  }

  ol,
  ul {
    line-height: 1.5;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0.5rem;
    }
  }

  a {
    color: #2098f5;
  }

  h2 {
    font-size: 1.6rem;
    color: #2098f5;
    line-height: 1.2;
  }

  @media screen and (max-width: 900px) {
    padding: 8px;
    grid-template-columns: 5fr 2fr;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  &.reverse {
    grid-template-columns: 1fr 3fr;

    @media screen and (max-width: 900px) {
      padding: 8px;
      grid-template-columns: 2fr 5fr;
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}
