@import '../../assets/styles/variables';

.messageContainer {
  background: darken($textColor, 10);
  height: 40px;
  padding: 0 8px;

  &:hover {
    background: $textColor;
    .link {
      text-decoration: underline;
      opacity: 0.9;
    }
  }
}

.message {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 100%;
}

.link {
  color: $primary;
  font-weight: 700;
  text-decoration: none;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  height: 100%;
  font-size: 0.85rem;
  opacity: 0.6;
}
