@import '../assets/styles/variables';

.headerContainer {
  display: grid;
  grid-template-columns: 1fr minmax(400px, 800px) minmax(100px, 400px) 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: $primary;
  grid-gap: 16px;
  position: relative;
  padding-top: 32px;

  @media screen and (max-width: 900px) {
    padding-top: 0;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 6px;

    .illustrationWrapper {
      grid-row: 1;
      width: 50%;
      margin: 0 auto;
      img {
        margin-top: 8px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .illustrationWrapper {
      width: 70%;
    }
  }

  .header {
    align-self: center;
    @media screen and (min-width: 900px) {
      grid-column: 2/3;
    }

    @media screen and (min-width: 600px) {
      padding-bottom: 32px;
    }

    h1 {
      color: $secondary;
      font-size: 2.8rem;
      margin-bottom: 8px;
      margin-top: 0px;
    }

    color: $secondary;
    h2 {
      font-weight: 400;
      margin-top: 0px;
      margin-bottom: 30px;
    }

    p {
      color: $textColor;
    }

    @media screen and (max-width: 900px) {
      h1 {
        font-size: 2.4rem;
        padding: 0 8px;
      }

      h2 {
        margin-bottom: 1.5rem;
        padding: 0 8px;
      }

      p {
        padding: 0 8px;
      }
    }
  }

  .illustrationWrapper {
    align-self: flex-end;
    img {
      display: flex;
    }
  }

  .backgroundOverlap {
    // background: blue;
    grid-column: 3/5;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .links {
    display: flex;
    font-size: 1.2rem;
    margin-top: 1.5em;
    flex-wrap: nowrap;

    @media screen and (max-width: 600px) {
      flex-wrap: wrap;
      margin-top: 0;
      padding: 8px;
      background: darken($primary, 3);
    }

    .link {
      color: $textColor;
      text-decoration: none;
      display: flex;
      padding: 16px;
      @media screen and (max-width: 900px) {
        width: 100%;
      }

      @media screen and (max-width: 600px) {
        padding: 12px 0 12px 0;
      }

      &:nth-child(1) {
        margin-left: -16px;
      }

      &:hover {
        background: darken($primary, 3);
        border-radius: 0.2rem;
      }

      svg {
        margin-right: 8px;
        height: 1.2rem;
        width: 1.2rem;
        margin-top: 1px;
        * {
          fill: $textColor;
        }
      }

      .linkText {
        color: $textColor;
        font-weight: 700;
        margin-bottom: 8px;
        letter-spacing: -0.01em;
      }
      .linkSubtext {
        font-size: 0.9rem;
        text-decoration: none;
        letter-spacing: 0.02em;
        opacity: 0.75;
        line-height: 1.5;
      }

      @media screen and (max-width: 900px) {
        &:nth-child(1) {
          margin-left: 0px;
        }

        svg {
          height: 1rem;
          width: 1rem;
        }

        .linkText {
          font-size: 1rem;
          margin-bottom: 4px;
          text-decoration: none;
        }
      }
    }
  }

  .illustration {
    grid-column: 3/5;
  }
}

.sidebarContainer {
  padding-top: 16px;

  @media screen and (max-width: 600px) {
    margin-top: 16px;
    background: rgba($textColor, 0.07);
    padding-bottom: 32px;
  }

  .sidebarLink {
    text-decoration: none;
    display: block;
    padding: 12px 8px;
    border-radius: 4px;
    color: $textColorLight;

    .sidebarLinkHeader {
      margin-top: 0px;
      margin-bottom: 8px;
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
      font-weight: 600;
      svg {
        margin-right: 8px;
        height: 16px;
        width: 16px;
        * {
          fill: #777;
        }
      }
    }

    .sidebarLinkSubtitle {
      line-height: 1.5;
      opacity: 0.9;
      font-size: 0.9rem;
    }

    &:hover {
      background: $textColor;
      color: white;
      svg * {
        fill: white;
      }
    }
  }

  @media screen and (max-width: 600px) {
    margin-top: 32px;
    .sidebarLink {
      padding: 16px 8px;
      border-bottom: 1px solid rgba($textColor, 0.1);
      .sidebarLinkSubtitle {
        margin-left: 0;
      }
    }
  }
}
