.headerContainer {
  display: grid;
  grid-template-columns: 1fr minmax(400px, 800px) minmax(40%, 200px) 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #ff671f;
  padding: 32px 0;

  .header {
    grid-column: 2/3;
  }

  .links {
    display: flex;
    font-size: 1.2rem;

    .link {
      padding: 8px;
      a {
        color: white;
        font-weight: 600;
        span {
          font-size: 1rem;
          text-decoration: none;
        }
      }
    }
  }

  .illustration {
    grid-column: 3/5;
  }
}
