@import '../../assets/styles/variables';

.headerContainer {
  background: $primary;
  padding: 48px 8px 54px 8px;

  @media screen and (max-width: 600px) {
    padding: 32px 8px;
  }
  .contentWrapper {
    max-width: 1200px;
    margin: 0 auto;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    div,
    span,
    li,
    a {
      color: $textColor;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $secondary;
    }

    p,
    ul,
    div,
    span,
    li,
    a {
      line-height: 1.5;
    }

    h1 {
      margin: 0;
      margin-bottom: 8px;

      font-size: 3.5rem !important;
      @media screen and (max-width: 900px) {
        font-size: 3rem !important;
      }

      @media screen and (max-width: 600px) {
        font-size: 2.5rem !important;
      }
    }

    p,
    div {
      max-width: 800px;
      opacity: 0.9;
      margin-bottom: 0.4em;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }
}
