@import url('https://inter-font.getup.org.au/inter.css'); // The Inter typeface family

// - - - - - - - - - - - - - - -
// # CUSTOM VARIABLES
// - - - - - - - - - - - - - - -

// Colours
$black: #121212;
$orange-default: #2098f5;
$blue-default: #2098f5;
$gray-xlight: #eee;
$gray-default: #888;
$gray-dark: #444;
$primary: #ff671f;
$secondary: #2098f5;
$white: #fff;

$gu-orange: #ff671f;
$gu-blue: #2098f5;
$coco-pink: #f466ba;
$coco-blue: #41b9d8;
$coco-yellow: #fff766;

// based on this
$primary-colour: $gu-orange;
$primary-colour-text: $white;

$secondary-colour: $gu-blue;
$secondary-colour-text: $white;

$tertiary-colour: #ccc;
$tertiary-colour-text: $black;

$colour-grid-01: #fa7333;
$colour-grid-02: #46b2a2;
$colour-grid-03: #dd4c87;
$colour-grid-04: #996db4;
$colour-grid-05: #e04242;
$colour-grid-06: #3787a7;
$colour-grid-07: #67b256;
$not-policy: #888;

// Typography
$sans-serif: 'Inter', 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial,
  sans-serif !important;
$serif: 'Merriweather', serif;

$alert-color: #f04124;
$info-color: #a0d3e8;
$success-color: #43ac6a;
$warning-color: #f08a24;
$dark-color: #232323;
$gray: #dfdfdf;
$gray-dark: darken($gray, 8);
$gray-light: lighten($gray, 8);

// We use these to make sure border radius matches unless we want it different.
// $global-radius: 4px;
// $global-rounded: 1000px;

// We use this for default spacing
$global-padding: 1rem;
// $global-spacing: rem-calc(15);

// 3. Breakpoints
// - - - - - - - - - - - - - - -

// These are our named breakpoints. You can use them in our breakpoint function like this: @include breakpoint(medium) { // Medium and larger styles }
$breakpoints: (
  small: rem-calc(0),
  medium: rem-calc(640),
  large: rem-calc(1200),
  xlarge: rem-calc(1440),
  xxlarge: rem-calc(1920)
);

// All of the names in this list will be output as classes in your CSS, like small-12, medium-6, and so on.
$breakpoint-classes: (small medium large xlarge xxlarge);

// Breakpoints for fluid typography
$breakpoint-fluid-small: 36rem;
$breakpoint-fluid-large: 56rem;

$h1-font-size: 4rem;
$h2-font-size: 2.8rem;
$h3-font-size: 2rem;
$h4-font-size: 1.4rem;
$h5-font-size: 1.25rem;
$h6-font-size: 0.7rem;

// We use these to control header size reduction on small screens
$h1-font-reduction: 2.44rem;
$h2-font-reduction: 1.95rem;
$h3-font-reduction: 1.56rem;
$h4-font-reduction: 1.25rem;
$h5-font-reduction: 1rem;
$h6-font-reduction: 0.8rem;

$container-width: rem-calc(1200);
$block-padding: $global-padding;
$total-columns: 12;
$block-grid-max-size: 6;

// 6. Button
// - - - - - - - - - - - - - - -

$button-font-style: $sans-serif;
$button-padding: 0.6em 1em;
$button-margin: 0;
$button-radius: 0.25em;
$button-sizes: (
  'tiny': 0.7em,
  'small': 0.8em,
  'medium': 1em,
  'large': 1.2em,
  'xlarge': 1.5em
);
$button-font-size: 0.9rem;

//-------------------------------------------------------
// Follow this format:
// -- button-name: (colour, text-colour)
//
// Prepend 'btn-' to use it in a class
// -- Eg. 'getup-blue' => .btn-getup-blue
$button-styles: (
  'primary': (
    $primary-colour,
    $primary-colour-text
  ),
  'secondary': (
    $secondary-colour,
    $secondary-colour-text
  ),
  'tertiary': (
    $tertiary-colour,
    $tertiary-colour-text
  ),
  'white': (
    #fff,
    $primary-colour
  ),
  'coco-pink': (
    $coco-pink,
    #fff
  ),
  'coco-blue': (
    $coco-blue,
    #fff
  )
);
//-------------------------------------------------------

$global-radius: 0.2em;
