.question {
  margin-bottom: 2.5rem;
  .header {
    margin-top: 0;
  }
  .body p {
    color: #333;
    margin-bottom: 0.8em;
  }

  ul {
    line-height: 1.5;
    li {
      margin-bottom: 0.2em;
    }
  }

  a {
    color: #2098f5;
  }
}

.contentWrapper {
  margin-top: 24px;
}

@media screen and (max-width: 600px) {
  .content {
    margin-top: 32px;
  }

  .contentWrapper {
    margin-top: 0px;
  }

  .faqWrapper {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
}
