footer {
  background: #eee;
  margin-top: 40px;
  padding: 32px 8px;
  .content {
    max-width: 1200px;
    margin: 0 auto;
  }

  .content p {
    color: #333;
    font-size: 0.8rem;
  }

  a {
    color: #333;
  }

  .linkContainer {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;

    li {
      margin-right: 16px;
      margin-bottom: 16px;
    }

    a {
      color: #333;
      font-weight: 600;
      font-size: 0.9rem;
      text-decoration: none;
    }
  }
}
