.groupsTable {
  width: 100%;
  border-spacing: 0px;

  thead {
    text-align: left;
  }

  tr {
    height: 40px;
    margin-bottom: 4px;
  }

  tbody tr:nth-of-type(odd) {
    background: pink;
  }

  th,
  td {
    vertical-align: middle;
    padding: 0;
    padding-left: 8px;
  }
}
