/*
----------------------------------------------------------------------------------------

Dependencies:
- $button-xxx in _settings.scss

Default styles:
- btn, btn-inline, btn-outline, btn-block                    (shape)
- btn-tiny, btn-small, btn-medium, btn-large, btn-xlarge     (size)
- btn-primary, btn-secondary, btn-tertiary                   (colour)

----------------------------------------------------------------------------------------
*/

// ---------------------------------------------------------------------------------------
// Mixins
// ---------------------------------------------------------------------------------------

@mixin btn-hover($colour) {
  // adds a shadow on hover if the button isn't disabled
  &:hover:not(:disabled) {
    transform: scale(1.02);
    -webkit-box-shadow: 0 8px 6px -6px rgba($black, 0.25);
    -moz-box-shadow: 0 8px 6px -6px rgba($black, 0.25);
    box-shadow: 0 8px 6px -6px rgba($black, 0.25);
  }
  &:hover:not(:disabled) {
    background: lighten($colour, 3);
    cursor: pointer;
  }
  // keeps a solid colour if button is an outline
  &.btn-outline:hover {
    background: $colour;
    transform: none;
    box-shadow: none;
  }
  &.btn-inline:hover {
    background: none;
    transform: none;
    box-shadow: none;
  }
}

@mixin btn-focus($colour) {
  &:focus {
    background: darken($colour, 5);
    -webkit-box-shadow: 0 0 0 0.2em rgba($colour, 0.4);
    -moz-box-shadow: 0 0 0 0.2em rgba($colour, 0.4);
    box-shadow: 0 0 0 0.2em rgba($colour, 0.4);
    text-decoration: underline;
    outline: none;
  }
}

@mixin btn-inline($colour) {
  &.btn-inline {
    color: $colour;
    padding: 0.6em;
    border-radius: 0px;
    background: none;
    border-bottom: 2px solid;
    &:hover {
      color: darken($colour, 15);
    }
    &:focus {
      color: $colour;
      background: none;
      box-shadow: inset 0 0 0 1px;
    }
  }
}

@mixin btn-outline($bg-colour, $text-colour) {
  &.btn-outline {
    background: none;
    color: $bg-colour;
    box-shadow: 0px 0px 0px 1px $bg-colour inset;
    @include btn-focus($bg-colour);

    &:hover,
    &:focus {
      color: $text-colour;
    }
  }
}

//----------------------------------------------------------------------------------------
// DEFAULT BUTTON TEMPLATE
//----------------------------------------------------------------------------------------

.btn {
  // primary as default
  background: $primary-colour;
  border-radius: $button-radius;
  color: $primary-colour-text;
  cursor: pointer;
  display: inline-block;
  font-family: $button-font-style;
  font-size: $button-font-size;
  font-weight: 700;
  padding: $button-padding;
  margin: $button-margin;
  transition: none;
  text-decoration: none;
  transition: 0.075s ease-in-out;
  line-height: 1.4;

  // focus
  @include btn-focus($primary-colour);

  // disabled
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.3;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }

  @include btn-hover($primary-colour);

  @include btn-outline($primary-colour, $primary-colour-text);

  @include btn-inline($primary-colour);
}

//----------------------------------------------------------------------------------------
// OTHER BUTTONS
//
// based on $button-styles in _settings
// eg. .btn-primary, .btn-secondary, .btn-tertiary
//----------------------------------------------------------------------------------------
@each $btn-name in $button-styles {
  .btn-#{nth($btn-name, 1)} {
    // --
    // Variables
    $colours: nth($btn-name, 2); // get a list of colours from _settings
    $bg-colour: nth($colours, 1); // primary highlight colour
    $text-colour: nth($colours, 2); // text colour

    // Styles
    background: $bg-colour;
    color: $text-colour;

    // Hover
    @include btn-hover($bg-colour);

    // Focus
    @include btn-focus($bg-colour);

    // Add an inline button style
    @include btn-inline($bg-colour);

    // Add a button outline style
    @include btn-outline($bg-colour, $text-colour);
  }
}

//----------------------------------------------------------------------------------------
// BUTTON SIZES
//
// based on $button-styles in _settings
// eg: .btn-small, .btn-large
//----------------------------------------------------------------------------------------
@each $size in $button-sizes {
  .btn-#{nth($size, 1)} {
    font-size: nth($size, 2);
  }
}

//----------------------------------------------------------------------------------------
// BUTTON BLOCK
//
// takes up full available width
//----------------------------------------------------------------------------------------
.btn-block {
  display: block;
  width: 100%;
  &:hover {
    transform: none !important;
  }
}

.btn {
  &.btn-inline {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0.3em;
  }
  .btn-wrapper {
    display: flex;
    align-items: center;
  }
  svg {
    transition: 0.075s ease-in-out;
  }
  &:hover {
    svg {
      transform: translateX(2px);
    }
  }
  .btn-arrow {
    max-height: 16px;
    max-width: 16px;
    margin-left: 6px;
  }
}

.btn-social {
  color: white !important;
  text-align: center;
  &.fb {
    background: #4267b2;
    &:hover {
      background: lighten(#4267b2, 10);
    }
  }
  &.twitter {
    background: #1b95e0;
    &:hover {
      background: lighten(#1b95e0, 10);
    }
  }
  &.email {
    background: #555;
    &:hover {
      background: lighten(#555, 10);
    }
  }
}

// .btn-inline {
//   display: flex;
//   flex-wrap: nowrap;
//   align-items: center;
// }
