@import '../../assets/styles/variables';

.navContainer {
  height: 60px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
  justify-content: space-between;

  .logoWrapper {
    height: 36px;

    svg {
      width: auto;
      height: 100%;
    }
  }

  .poweredBy {
    font-size: 0.7rem;
    color: #5a5a5f;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    .poweredByText {
      margin-right: 4px;
      font-weight: 500;
    }
    img {
      max-width: 54px;
      width: 100%;
    }
  }
}
