@import '../../assets/styles/variables';

.navContainer {
  height: 60px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
  justify-content: space-between;
}

.leftContainer {
  display: flex;
  align-items: center;
  .logoWrapper {
    height: 36px;

    svg {
      width: auto;
      height: 100%;
    }
  }

  .poweredBy {
    font-size: 0.7rem;
    color: #5a5a5f;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    margin-left: 12px;
    .poweredByText {
      margin-right: 4px;
      font-weight: 500;
    }
    img {
      width: 44px;
    }
  }
}

@media screen and (max-width: 749px) {
  .menu {
    position: relative;
    z-index: 50000;
    margin-right: 4px;

    div {
      width: 24px;
      height: 24px;
      height: 2px;
      background: $secondary;
      transition: 0.2s ease-out;
      margin-bottom: 5px;
      &:nth-last-child(1) {
        margin-bottom: 0px;
      }
    }

    &.open {
      div {
        margin-bottom: 0px;
      }
      div:nth-child(1) {
        transform: rotateZ(45deg) translateY(3px);
      }
      div:nth-child(3) {
        transform: rotateZ(-45deg) translateY(-3px);
      }
      div:nth-child(2) {
        opacity: 0;
      }
    }
  }

  .navItems.hide {
    display: none;
  }

  .navItems {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(16px);
    background: rgba(white, 0.85);
    margin-top: 0;
    padding: 16px;
    padding-top: 48px;
    list-style: none;

    .navItem {
      .navItemLink {
        padding: 8px;
        display: flex;
        color: $textColor;
        font-weight: 500;
        text-decoration: none;
        align-items: center;
        svg {
          width: 10px;
          margin-left: 4px;
          * {
            fill: $textColor;
          }
        }
      }
    }

    .subNavItems {
      list-style: none;
      padding-left: 1.5em;

      .subNavItemLink {
        height: 32px;
        display: flex;
        color: $textColor;
        font-weight: 400;
        text-decoration: none;
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .rightContainer {
    display: flex;
    align-items: center;
    .navItems {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      margin-right: 24px;
      align-items: center;
      position: relative;

      .navItem {
        font-size: 0.9rem;
        color: $textColor;
        font-weight: 500;
        margin-right: 8px;

        .navItemLink {
          padding: 0 12px;
          height: 32px;
          display: flex;
          align-items: center;
          cursor: pointer;
          border-radius: 4px;
          color: $textColor;
          text-decoration: none;

          &:hover {
            background: rgba($textColor, 0.06);
          }

          svg {
            width: 10px;
            margin-left: 4px;
            * {
              fill: $textColor;
            }
          }

          &.active {
            background: rgba($textColor, 0.06);
          }
        }
      }
    }

    .navItem {
      .subNavItems {
        display: none;
      }
      &:hover {
        .subNavItems {
          display: block;
        }
      }
    }

    .subNavItems {
      padding: 0;
      margin: 0;
      position: absolute;
      top: 32px;
      z-index: 1;
      background: white;
      border: 1px solid rgba($textColor, 0.08);
      box-shadow: 0 2px 8px 4px rgba($textColor, 0.04);
      min-width: 150px;
      border-radius: 4px;

      .subNavItem {
        padding: 0;
        margin: 0;
        list-style: none;

        .subNavItemLink {
          padding: 12px;
          display: flex;
          align-items: center;
          cursor: pointer;
          overflow: hidden;
          color: $textColor;
          text-decoration: none;
          &:hover {
            background: $textColor;
            color: white;
          }
        }

        &:nth-child(1) {
          .subNavItemLink {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
          }
        }
        &:nth-last-child(1) {
          .subNavItemLink {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }
      }
      .subNavItem:not(:nth-last-child(1)) {
        border-bottom: 1px solid rgba($textColor, 0.1);
      }
    }
  }
}
